#gray-cup-guy::after {
    src: url('./assets/graycupguy.png')    
}

html {
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #957e96;
    box-sizing: border-box;
}

body {
    background-color:rgb(189, 159, 137);
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(87, 70, 85);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
}

h1 {
    font-size: 50px;
    text-align: center;
    color:bisque;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

main {
    display: block;
}

.cups-and-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: white;
}

.three-cups {
    display: flex;
    padding: 0px;    
}

.three-buttons {
    display: flex;
    justify-content: right;
    align-items: bottom;
    flex-direction: row;    
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#button-one {
    display: flex;
}

#button-two {
    display: flex;
}

#button-three {
    display: flex;
}

#graycup {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
}

#results-element {
    display:flex;
    color: black;
}